<launch>
        <group ns="mamba">
                  <node name="dot_finder" pkg="dot_finder" type="dot_finder" output="screen">
                        <param name="topic" value="/mamba" />
                        <param name="ratio" value="0.5" />
                </node>
        </group>

</launch>
